///////////////////////////////////
@import 'bootstrap/bootstrap.less';
@import 'mreq/mreq.less';
///////////////////////////////////
@primary:   #468C34;
@bg:        #221E1D;
@fg:        #ECEAE0;
///////////////////////////////////
@hHeader:   50px;
///////////////////////////////////
@-webkit-keyframes stretchdelay {
	0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
	20% { -webkit-transform: scaleY(1.0) }
}
@keyframes stretchdelay {
	0%, 40%, 100% { 
		transform: scaleY(0.4);
		-webkit-transform: scaleY(0.4);
	}  20% { 
		transform: scaleY(1.0);
		-webkit-transform: scaleY(1.0);
	}
}
///////////////////////////////////
html, body {
	overflow: hidden;
	background: @bg;
	color: @fg;
	height: 100%;
	min-height: 100%;
	min-width: 320px;
}
a {
	color: @primary;
	&:hover {
		color: @primary;
	}
}
h1, h2, ul, p {
	margin: 0 0 5px;
}
h1, h2 {
	.opacity(0.6);
	font-weight: bold;
}
h1 {
	.fsize(@bf + 7);
	padding: 20px 0 0;
}
h2 {
	.fsize(@bf + 5);
	padding: 20px 0 0;
	.rg-close {
		.rounded(50%);
		.fsize(@bf,@bf);
		.sq(@bf+6);
		.transition(all .3s);
		.opacity(0.5);
		border: 2px solid @fg;
		padding: 1px 3.5px;
		color: @fg;
		display: inline-block;
		margin-left: 10px;
		&:hover, &:active, &:focus {
			text-decoration: none;
			color: @fg;
		}
		&:hover {
			.scale(1.3);
			.opacity(1);
		}
	}
}
ul {
	padding-left: 25px;
}
///////////////////////////////////
.rg-container {
	max-width: 1000px;
	margin: 0 auto;
	@media screen and (max-width: 1020px) {
		margin: 0 10px;
	}
}
.make-rg-spinner(@width: 20px, @height: 30px) {
	@p: 17;
	@w: floor(@width*@p/100);
	width: @width;
	height: @height;
	position: relative;
	font-size: 10px;
	> div {
		.topleft;
		width: @w;
		height: 100%;
		background-color: rgba(255,255,255,.15);
		display: inline-block;
		-webkit-animation: stretchdelay 1.2s infinite ease-in-out;
		animation: stretchdelay 1.2s infinite ease-in-out;
	}
	.rg-rect2 {
		@n: 2;
		left: floor(@width*((@n - 1)*25 + (25-@p)/4)/100);
		-webkit-animation-delay: -1.1s;
		animation-delay: -1.1s;
	}
	.rg-rect3 {
		@n: 3;
		left: floor(@width*((@n - 1)*25 + (25-@p)/4)/100);
		-webkit-animation-delay: -1.0s;
		animation-delay: -1.0s;
	}
	.rg-rect4 {
		@n: 4;
		left: floor(@width*((@n - 1)*25 + (25-@p)/4)/100);
		-webkit-animation-delay: -0.9s;
		animation-delay: -0.9s;
	}
}
.rg-spinner { .make-rg-spinner; }
.rg-list {

}
///////////////////////////////////
#rg-header {
	.topleft;
	.box-shadow(0px 1px 10px 1px rgba(0,0,0,.4));
	width: 100%;
	height: @hHeader;
	padding: 10px 0;
	overflow: hidden;
	a {
		.topleft;
		.fsize(20px, 20px);
		font-weight: bold;
		letter-spacing: 2px;
		color: @fg;
		z-index: 2;
		text-decoration: none;
		display: block;
		height: 100%;
		width: 42px;
		padding: 14px 0 0;
		text-align: center;
	}
	#rg-input-wrap {
		.transition(padding .3s);
		height: (( @hHeader - 20 ));
		padding: 0 10px 0 42px;
		position: relative;
		z-index: 1;
		#rg-input {
			display: block;
			height: 100%;
			width: 100%;
			padding: 5px 10px;
			border: 0;
			background: rgba(255,255,255,.15);
			&:focus {
				outline: 0;
				.box-shadow(0px 0px 2px 1px @primary);
			}
		}
	}
	.rg-spinner {
		.ic(30px);
		.transition(right .3s);
		right: -25px;
	}
}
.rg-loading {
	#rg-header {
		#rg-input-wrap { padding-right: 42px; }
		.rg-spinner { right: 10px; }
	}
}
#rg-wrap {
	height: 100%;
	padding-top: @hHeader;
}
#rg-view {
	height: 100%;
	> .rg-container:first-child {
		padding-top: 10px;
	}
}
#rg-gallery {
	height: 100%;
	width: 100%;
	overflow: hidden;
	ul {
		.ul;
		.transition(all .3s);
	}
	> ul {
		.clearfix;
		height: 100%;
		> li {
			height: 100%;
			float: left;
			> div {
				height: 100%;
				position: relative;
				> .rg-album-nav {
					.bottomright(10px, 10px);
					width: 6px;
					> span {
						.sq(6px);
						.opacity(0.3);
						.transition(opacity 0.3s);
						margin-top: 3px;
						display: block;
						background: @fg;
					}
					> .rg-active { .opacity(0.6); }
				}
				> h2 {
					.bottomleft(10px, 10px);
					.fsize;
					.opacity(1);
					width: 100%;
					padding: 0 30px 0 0;
					margin: 0;
					a {
						color: @fg;
						text-decoration: none;
					}
				}
				> ul {
					height: 100%;
					> li {
						height: 100%;
						display: block;
						text-align: center;
						position: relative;
						overflow: hidden;
						img, .rg-img-spinner {
							.transition(opacity 0.3s);
						}
						img {
							.topleft(50%, 50%);
							.opacity(0);
						}
						.rg-img-spinner {
							.icl(32px, 50px);
							.make-rg-spinner(32px, 50px);
						}
						&.rg-loaded {
							img { .opacity(1); }
							.rg-img-spinner { .opacity(0); }
						}
					}
				}
			}
		}
	}
	img {

	}
}